.required {
    color: red;
}

.form-error {
    color: red;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.import-nav-bar {
    justify-content: center;
}

.nav-link {
    color: rgb(212, 167, 16) !important;
}

.nav-link.active {
    color: #495057 !important;
}

.edit-beer-buttons {
    display: flex;
    flex-direction: column;
}
#delete-beer-button {
    width: 150px !important;
    align-self: flex-end;
}
#archive-beer-button {
    width: 150px !important;   
    align-self: center; 
}
#submit-beer-button {
    width: 150px !important; 
    transform: translate(10px);
}
