table .cell1 {
    width: 15%;
}

table .cell2 {
    width: 45%;
}

table .cell3 {
    width: 15%;
}

table .cell4 {
    width: 15%;
}

table .cell5 {
    width: 20%;
}

table .stat-table-1 {
    width: 50%;
}
table .stat-table-2 {
    width: 25%;
}
table .stat-table-3 {
    width: 25%;
}

.stat-row {
    align-items: center;
}