.login {
    background-color: white;
}

.form-error {
    color: red;
}

.homepage-content {
    background-color: rgba(255, 255, 255, 0.658);
    min-height: 87vh;
    border-radius: 5px;
}

.tap-content {
    min-height: 75vh;
    background-color: rgba(0, 0, 0, 0.616);
    border-style: solid;
    border-color: rgba(177, 138, 12, 0.651);
    border-width: 3px;
    margin: 10px;
    border-radius: 25px;
}