.login {
    background-color: white;
}

.form-error {
    color: red;
}

.homepage-content {
    background-color: rgba(255, 255, 255, 0.63);
    min-height: 500px;
    border-radius: 5px;
}

.barpage-content {
    background-color: var(--main-content-background);
    height: min-content;
    border-radius: 5px;
}

.account-content {
    background-color: rgba(255, 255, 255, 0.63);
    min-height: 90vh;
    width: 90vw;
    border-radius: 5px;
}

#check-login-content {
    display: flex;
    justify-content: center;
}

#check-login {
    background-color: white;
    height: 200px;
    width: 400px;
    padding: 20px;
}

.content-center {
    display: flex;
    justify-content: center;
}

.vr {
    padding: 0 !important;
}

.bar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    background-color: rgb(56, 56, 56);
    width: 100%;
    color: rgb(192, 151, 14);
    border-color: var(--main-border-color);
    border-width: 4px;
    border-style:ridge;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.edit-tap {
    text-align: center;
    background-color: var(--main-text-color);
    padding: 5px;
    border: ridge 2px rgb(189, 148, 14);
}