.login {
    background-color: white;
}

.form-error {
    color: red;
}

.homepage-content {
    background-color: var(--main-content-background);
    height: min-content;
    border-radius: 5px;
}

.account-content {
    background-color: antiquewhite;
    min-height: 90vh;
    width: 90vw;
    border-radius: 5px;
}

#check-login-content {
    display: flex;
    justify-content: center;
}

#check-login {
    background-color: white;
    height: 200px;
    width: 400px;
    padding: 20px;
}

.content-center {
    display: flex;
    justify-content: center;
}

.homepage-title-block {
    background-color: rgba(192, 150, 14, 0.945);
    padding: 10px;
    border-radius: 5px;
}

.vr {
    padding: 0 !important;
}
