.tap{
    color: var(--main-text-color);
    background-color: rgba(0, 0, 0, 0.616) !important;
    min-height: 610px !important;
}

.tap-img {
    height: 100px;
    object-fit: contain;
}

h4 { 
    text-decoration: underline;
}

td {
    width: 100%;
    text-align: left;
}

.more-info-button {
    width: 100%;
    background-color: var(--main-text-color) !important;
    border-color: black !important;
}
 
.btn-group-vertical{
    width: 100%
}

.drinks-button {
    background-color: var(--main-text-color) !important;
    border-color: var(--main-border-color) !important;
    padding: 3px !important;
}
.drinks-button:hover {
    background-color: var(--main-text-color-hover) !important;
}

.drink-sizes-img {
    height: 40px;
    width: 40px;
}

.drink-button-row {
    justify-content: center;
    margin-bottom: 10px;
}

.drink-button-col {
    padding: 0;
    flex-grow: 0;
}

.beer-info {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;    
    height: 96px;     
    -webkit-line-clamp: 6; 
    -webkit-box-orient: vertical;
}

.beer-stats {
    color: inherit !important;
    background-color: inherit !important;
    
}
.beer-stat-item {
    display: flex;
    justify-content: space-between;
}

.progress {
    background-color: rgba(255, 255, 255, 0.39) !important;
}
