.main-body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#main-content {
  /* background-color: rgb(255, 255, 255); */
  min-height: 100vh;
}


